body {
    font-family: Arial, sans-serif;
    background-color: #dfe3e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    padding: 40px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .subtitle {
    font-size: 14px;
    color: #777;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: 500;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  .checkbox-group {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }
  
  .checkbox-group input {
    margin-right: 8px;
  }
  
  .submit-btn {
    width: 100%;
    background-color: #d93025;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
  }
  
  .submit-btn:hover {
    background-color: #c5221f;
  }
  
  .signin-text {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
  }
  
  .signin-text a {
    color: #0073e6;
    text-decoration:none;
  }