* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
width: 100%;
height: 100%;
}
a{
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.mynavbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 0;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.searchBtn{
  position: relative;
  flex: 1 1 100%;
  max-width: 500px;
}

.searchTxt {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.searchLabel {
  position: absolute;
  top: 22px;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.search {
  font-size: 18px;
  color: #333;
}
/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropbtn i {
  font-size: 18px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: -50px;
  background-color: white;
  min-width: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  padding: 8px 0;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display:block;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.wrapper a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.wrapper a i {
  margin-right: 5px;
  font-size: 18px;
}

.wrapper a sup {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.username {
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  background: #f1f1f1;
}

/* RESPONSIVE  Navbar*/
@media (min-width: 768px) {

  .mynavbar {
    flex-wrap: nowrap;
  }

  .searchBtn {
    flex: 1;
    max-width: 400px;
  }

  .wrapper {
    justify-content:flex-end;
}
}

#main_area{
  margin-top: 10px;
  background: #FFE2E0;
}
.handbagImage{
  width: 570px;
  height: 470px;
}
#main_area .left{
  width: 455px;
   padding: 100px 0;
}
.flexMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#main_area .right{
   padding: 50px 0;
}
#main_area .sale{
  font-weight: bold;
  color: #DF4244;
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 170%;
}

#main_area .handbagProducts{
  font-size: 45px;
  line-height: 170%;
  letter-spacing: 0%;
  color: #212121;
  font-weight: bold;
}

#main_area .text{
   font-weight: 400;
   font-size: 17px;
   line-height: 170%;
   letter-spacing: 0;
   color:#212121BF;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

#main_area .shopBtn{
  background: #007878;
  border: none;
  width: 192px;
  height: 52px;
  line-height: 170%;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#main_area .shopBtn:hover{
  background-color: #059e9e;
}
.filter-panel{
  
  display: flex;
  justify-content: space-between;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-btn{
  color: #212121;
  margin-top: 10px;
  border: none;
  width: 150px;
  height: 35px;
  border-radius: 2px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 5px;
  background-color: white;
  min-width: 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  padding: 8px 0;
}

.dropdown-content a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  padding: 8px 50px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display:block;
}



@media screen and (min-width:768px){
  #main_area .container{
    width: 100%;
  }
  #main_area .flexMain{
    flex-wrap: nowrap;
  }
}

@media screen and (max-width:576px){
  #main_area .container{
    width: 100%;
  }
  #main_area .handbagImage{
    width: 450px;
    height: 350px;
    justify-content: start;
  }
}

  .cards{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card-img{
  width: 218px;
  height: 134px;
  margin-left: 50px;
}
.card{
  margin-top: 20px;
  width: 360px;
  height: 470px;
  border-radius: 8px;
  position: relative;
  background: #F9F9F9;
}
.card-image{
  margin-top: 100px;
}
.card-heart{
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  color: red;
}
.card-heart:hover{
  color: #ff9812;
  cursor: pointer;
}

.card-sale{
  text-align: center;
  padding: 3px;
  width: 79px;
  height: 32px;
  border-radius: 8px;
  background-color: #43D167;
  position: absolute;
  left: 15px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-content{
  margin-left: 20px;
}
.card-star{
  color: #FFDD45;
  margin-top: 10px;
  line-height: 170%;
}
.card-title{
  margin-top: 10px;
  width: 302px;
  line-height: 170%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-content .price{
  font-size: 20px;
  color: #DF4244;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.saleSpan{
  line-height: 170%;
  margin-left: 15px;
  color: #363636BF;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#product_area{
  margin-top: 50px;
}
#product_area h5{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cardFooter{
  width: 312px;
  height: 48px;
  background: transparent;
}
.addBtn{
  margin-left: 20px;
  margin-top: 15px;
  width: 320px;
  height: 48px;
  background: transparent;
  border-radius:8px;
  border: 1px solid black;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cardFooter .addBtn:hover{
  background-color: black;
  color: white;
}

@media screen and (max-width:992px){
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:768px){
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:576px){
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#footer_area{
  margin-top: 100px;
  background-color: #F7F7F9;
}
.snobella{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.snobella .div h2{
  margin-top: 40px;
  font-size: 40px;
}
.srchInput{
  position: relative;
  margin-top: 40px;
}
.srchInput input{
  padding: 10px;
  border-radius: 4px;
  background-color: white;
  width: 500px;
  border: 1px solid gray;
  height: 44px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.srchInput label{
  position: absolute;
  top: 10px;
  right: 10px;
}
.srchInput label i{
  font-size: 20px;
}
.bottom{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.footer-left{
  width: 330px;
}
.footer-left p{
  text-align: justify;
  line-height: 150%;
}
.footer-left i{
  font-size: 20px;
  margin-top: 10px;
}
.footer-left span{
  margin-left: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.bottom a{
  color: #212121BF;
}
@media screen and (max-width:576px){
  .srchInput input{
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    width: 400px;
    border: 1px solid gray;
    height: 44px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .srchInput label{
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
